# Node
node_modules/
.npm/
.next/
out/
build/
dist/

# Python
__pycache__/
*.py[cod]
*.class
.pytest_cache/
.coverage
htmlcov/
.venv/
venv/
env/
.env

# OS
.DS_Store
Thumbs.db

# Project specific
uploads/
database/
